DATABASE_URL="postgresql://childcare:childcare@localhost:5432/childcare_task_agent?schema=public"
OPENROUTER_API_KEY=""
OPENROUTER_MODEL="openai/gpt-4.1-mini"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL=https://xqgbsarxnwzizjebzzej.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pzkuBoHHs4Z3LSJ1KkHTfg_e7NOVjBB
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALENDAR_REDIRECT_URI="http://localhost:3000/api/calendar/callback"
